.stats{
    margin-top:30px;
  }
.table-view{
    margin-top: 100px;
}

/* View Parcel Page */

.view_parcel #page_heading{
    margin-top:50px;
    margin-bottom: 20px;
}

#view_vendor{
    margin-top:50px;
    border: 2px solid lightblue;
    border-radius: 5px;
}
#view_vendor form {
    padding: 30px;
    padding-top:20px;
}